<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header>
      <h1>aboba</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/admin">Admin Panel</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2><%= pageTitle %></h2>
    </main>
  </body>
</html>
