<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeatherApp</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="flex flex-col min-h-screen">
    <header><%- include('./components/header') %></header>
    <main class="flex-1">
      <div class="max-w-4xl mx-auto p-4">
        <h1
          class="text-3xl font-semibold text-gray-900 dark:text-white text-center mb-5"
        >
          WeatherApp
        </h1>
        <div id="weatherInfo" class="mb-8"></div>
        <div
          id="mainPageInfo"
          class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3"
        ></div>
      </div>
    </main>
    <footer><%- include('./components/footer') %></footer>
  </body>
</html>
