<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeatherApp</title>
    <% include('../components/head') %>
  </head>
  <body class="flex flex-col min-h-screen">
    <header><%- include('../components/navbar') %></header>
    <main class="flex-1"></main>
    <footer><%- include('../components/footer') %></footer>
  </body>
</html>
